<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-指令-v-for</title>
    <script src = "js/vue.js"></script>

</head>
<body>
    <div id = "app">
        
        <div v-for="(addr, index) in address" >{{addr}}</div>

        <hr>
        <div v-for="(addr, index) in address" >{{index +1}}:{{addr}}</div>
         
    </div>
    
</body>

<script>
     new Vue({
        el: "#app",
        data:{
             address:["北京","上海","西安","成都","深圳"]
        },
        methods: {
            
        },
     })

</script>
</html>